.filterMenuContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.alert {
  composes: alert from '~Components/Alert.css';

  margin-top: 10px;
}
